version: 2
updates:
- package-ecosystem: bundler
  directory: "/"
  schedule:
    interval: weekly
    day: friday
  open-pull-requests-limit: 99
  allow:
    - dependency-type: all
  groups:
    aws-deps:
      patterns:
        - "aws*"
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
    day: friday
  open-pull-requests-limit: 99
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: weekly
    day: friday
