*.iml
.bundle/ruby
.DS_Store
.idea
*.swp
*.swo
bin
build
node_modules
public
resources
_book
static/javascripts/search/lunr/PagesIndex.json
.ruby-version
.ruby-gemset
.node-version
.nvmrc
.hugo_build.lock