@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans/OpenSans-Light-webfont.eot) format("embedded-opentype"), url(../fonts/opensans/OpenSans-Light-webfont.woff) format("woff"), url(../fonts/opensans/OpenSans-Light-webfont.ttf) format("truetype");
  font-style: normal;
  font-weight: 300
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans/OpenSans-LightItalic-webfont.eot) format("embedded-opentype"), url(../fonts/opensans/OpenSans-LightItalic-webfont.woff) format("woff"), url(../fonts/opensans/OpenSans-LightItalic-webfont.ttf) format("truetype");
  font-style: italic;
  font-weight: 300
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans/OpenSans-Regular-webfont.eot) format("embedded-opentype"), url(../fonts/opensans/OpenSans-Regular-webfont.woff) format("woff"), url(../fonts/opensans/OpenSans-Regular-webfont.ttf) format("truetype");
  font-style: normal;
  font-weight: normal
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans/OpenSans-Italic-webfont.eot) format("embedded-opentype"), url(../fonts/opensans/OpenSans-Italic-webfont.woff) format("woff"), url(../fonts/opensans/OpenSans-Italic-webfont.ttf) format("truetype");
  font-style: italic;
  font-weight: normal
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans/OpenSans-Semibold-webfont.eot) format("embedded-opentype"), url(../fonts/opensans/OpenSans-Semibold-webfont.woff) format("woff"), url(../fonts/opensans/OpenSans-Semibold-webfont.ttf) format("truetype");
  font-style: normal;
  font-weight: 600
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans/OpenSans-SemiboldItalic-webfont.eot) format("embedded-opentype"), url(../fonts/opensans/OpenSans-SemiboldItalic-webfont.woff) format("woff"), url(../fonts/opensans/OpenSans-SemiboldItalic-webfont.ttf) format("truetype");
  font-style: italic;
  font-weight: 600
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans/OpenSans-Bold-webfont.eot) format("embedded-opentype"), url(../fonts/opensans/OpenSans-Bold-webfont.woff) format("woff"), url(../fonts/opensans/OpenSans-Bold-webfont.ttf) format("truetype");
  font-style: normal;
  font-weight: bold
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans/OpenSans-BoldItalic-webfont.eot) format("embedded-opentype"), url(../fonts/opensans/OpenSans-BoldItalic-webfont.woff) format("woff"), url(../fonts/opensans/OpenSans-BoldItalic-webfont.ttf) format("truetype");
  font-style: italic;
  font-weight: bold
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans/OpenSans-ExtraBold-webfont.eot) format("embedded-opentype"), url(../fonts/opensans/OpenSans-ExtraBold-webfont.woff) format("woff"), url(../fonts/opensans/OpenSans-ExtraBold-webfont.ttf) format("truetype");
  font-style: normal;
  font-weight: 800
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans/OpenSans-ExtraBoldItalic-webfont.eot) format("embedded-opentype"), url(../fonts/opensans/OpenSans-ExtraBoldItalic-webfont.woff) format("woff"), url(../fonts/opensans/OpenSans-ExtraBoldItalic-webfont.ttf) format("truetype");
  font-style: italic;
  font-weight: 800
}

